numpy
pyyaml
torch
torchvision
torchaudio
tensorboard
poutyne
pytorch-lightning
vispy
matplotlib
cython
jupyter
torch_optimizer
tk
pillow-simd
tqdm
torch_geometric
einops
scalene
optuna
SQLAlchemy
openmim
torch_waymo