numpy
pyyaml
torch
torchvision
torchaudio
tensorboard
poutyne
pytorch-lightning
vispy
matplotlib
cython
jupyter
torch_optimizer
pillow-simd
tqdm
torch_geometric
einops
optuna
SQLAlchemy
openmim
torch_waymo